<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- TODO: this could be a shared partial with an injected value -->
    <title><%= title %></title>
    <meta name="description" content="<%= description %>"></meta>

    <%- include('../../shared/views/partials/_meta.ejs'); %>
  </head>

  <body>
    <%- include('../../shared/views/partials/_header.ejs'); %>

    <div id="mount"></div>

    <%- include('../../shared/views/partials/_polyfills.ejs'); %>

    <script type="importmap">
      {
        "imports": {
          "preact": "https://cdn.skypack.dev/preact",
          "htm": "https://cdn.skypack.dev/htm"
        }
      }
    </script>

    <script type="module">
      import { h, Component, render } from "preact";
      import htm from "htm";

      const html = htm.bind(h);

      function Carousel(props) {
        return html`
          <section>A carousel would go here</section>
        `;
      }

      function App(props) {
        return html`
          <h1>Hello, ${props.name}!</h1>
          <${Carousel} />
        `;
      }

      render(html`<${App} name="World" />`, document.getElementById("mount"));
    </script>
  </body>
</html>
