<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- TODO: this could be a shared partial with an injected value -->
    <title><%= title %></title>
    <meta name="description" content="<%= description %>"></meta>

    <%- include('../../shared/views/partials/_meta.ejs'); %>
  </head>

  <body>
    <%- include('../../shared/views/partials/_header.ejs'); %>

    <div><%- embedded %></div>

    <%- include('../../shared/views/partials/_polyfills.ejs'); %>

  </body>
</html>
